#container
{
    width: 100%;
    height: 600px;
    /*background-color: red;*/
    margin: auto;
}

.navbar-brand img
{
    width: 100px;
}
#button_green
{
    color: #25a342
    
}

#cards
{
    width: 90%;
    height: 500px;
    margin: auto;
}